* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}
#doc {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
#top-bar {
  color: white;
  display: block;
  height: 40px;
  position: relative;
  width: 100%;
  background: -moz-linear-gradient(center top, #333333, #111111) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  vertical-align: middle;
}
#top-bar ul {
  float: left;
  list-style-type: none;
  margin: 0;
}
#top-bar ul li {
  float: left;
  margin: 0;
  padding: 0;
}
#top-bar ul li a {
  color: #bababa;
  display: block;
  font-weight: normal;
  padding: 10px;
  padding: 10px 10px 11px;
}
#top-bar ul li a:hover { text-decoration: none; }
#top-bar .links {
  float: left;
  position: absolute;
  top: 0;
}
#session {
  float: right;
  padding: 10px 15px;
  vertical-align: top;
}
#session { padding: 10px 18px 11px 15px; }
#message-drawer {
  position: absolute;
  text-align: center;
  top: 41px;
  width: 100%;
  z-index: 2;
}
p div {
  padding: 0;
  margin: 0;
}
#header {
  float: left;
  width: 100%;
  height: 20px;
}
.left { float: left; }
.right { float: right; }
.fline {
  float: left;
  width: 100%;
}
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clear { *zoom: 1; }
