<h1>My timeline</h1>


<% @opinions.each do |opinion| %>
<div class="clear">
  <div class="left"><%= opinion.user.openid %></div>
  <div class="right cleft">
    <div><%= opinion.msg %></div>
    <div><%=link_to 'Topic' if opinion.topic %></div>
  </div>
  </div>
</div>
<% end %>

<%= link_to 'New Opinion', new_opinion_path, :remote => true %>
